In [23]:
import pandas as pd

data = pd.read_csv("../datasets/vgsales.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [24]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [25]:
data.replace(["N/A", "unknown", ""], pd.NA, inplace=True)

In [26]:
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [27]:
data.duplicated(keep=False).sum()

np.int64(0)

In [28]:
data = data.drop(columns=["Rank"])

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.3+ MB

In [30]:
data.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [31]:
data["Name"].duplicated().sum()

np.int64(5105)

In [32]:
data["Name"].value_counts()[data["Name"].value_counts() > 1]

Name
Need for Speed: Most Wanted                12
LEGO Marvel Super Heroes                    9
Ratatouille                                 9
Madden NFL 07                               9
FIFA 14                                     9
                                           ..
WSC REAL 09: World Snooker Championship     2
Sakura-Sou no Pet na Kanojo                 2
Heart no Kuni no Alice                      2
Akatsuki no Goei Trinity                    2
Tetris                                      2
Name: count, Length: 2775, dtype: int64

In [33]:
data = data.drop_duplicates(subset="Name", keep="first")

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11493 entries, 0 to 16596
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          11493 non-null  object
 1   Platform      11493 non-null  object
 2   Year          11328 non-null  float64
 3   Genre         11493 non-null  object
 4   Publisher     11442 non-null  object
 5   NA_Sales      11493 non-null  float64
 6   EU_Sales      11493 non-null  float64
 7   JP_Sales      11493 non-null  float64
 8   Other_Sales   11493 non-null  float64
 9   Global_Sales  11493 non-null  float64
dtypes: float64(6), object(4)
memory usage: 987.7+ KB

In [35]:
#nuevos nombres
nuevos_nombres = {
    "Name": "Nombre",
    "Platform": "Plataforma",
    "Year": "Año",
    "Genre": "Género",
    "Publisher": "Publicador",
    "NA_Sales": "Ventas_Norteamérica",
    "EU_Sales": "Ventas_Europa",
    "JP_Sales": "Ventas_Japón",
    "Other_Sales": "Ventas_Otros",
    "Global_Sales": "Ventas_Globales"
}
# Renombrar columnas
data = data.rename(columns=nuevos_nombres)
data.head()

,Nombre,Plataforma,Año,Género,Publicador,Ventas_Norteamérica,Ventas_Europa,Ventas_Japón,Ventas_Otros,Ventas_Globales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [36]:
data["Año"] = data["Año"].astype("Int64")

In [37]:
data.isnull().sum()
data.head()

,Nombre,Plataforma,Año,Género,Publicador,Ventas_Norteamérica,Ventas_Europa,Ventas_Japón,Ventas_Otros,Ventas_Globales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [38]:
data["Año"].value_counts()

Año
2008    988
2009    959
2010    860
2007    838
2011    747
2006    724
2005    617
2002    565
2004    521
2003    487
2001    410
2012    407
1998    347
2015    333
2000    299
2013    296
1999    292
2014    279
1997    268
1996    247
1995    200
2016    194
1994    111
1993     58
1981     43
1991     40
1992     37
1982     33
1986     21
1983     16
1987     15
1989     14
1990     14
1984     13
1985     13
1988     11
1980      8
2017      2
2020      1
Name: count, dtype: Int64

In [39]:
data.isnull().sum()

Nombre                   0
Plataforma               0
Año                    165
Género                   0
Publicador              51
Ventas_Norteamérica      0
Ventas_Europa            0
Ventas_Japón             0
Ventas_Otros             0
Ventas_Globales          0
dtype: int64

In [40]:
data[data['Año'].isnull()]

,Nombre,Plataforma,Año,Género,Publicador,Ventas_Norteamérica,Ventas_Europa,Ventas_Japón,Ventas_Otros,Ventas_Globales
179,Madden NFL 2004,PS2,<NA>,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,FIFA Soccer 2004,PS2,<NA>,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
470,wwe Smackdown vs. Raw 2006,PS2,<NA>,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,Space Invaders,2600,<NA>,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
624,Rock Band,X360,<NA>,Misc,Electronic Arts,1.93,0.34,0.00,0.21,2.48
...,...,...,...,...,...,...,...,...,...,...
16065,Aquaman: Battle for Atlantis,XB,<NA>,Action,Unknown,0.01,0.00,0.00,0.00,0.01
16191,Homeworld Remastered Collection,PC,<NA>,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16194,Shorts,DS,<NA>,Platform,Unknown,0.01,0.00,0.00,0.00,0.01
16246,Agarest Senki: Re-appearance,PS3,<NA>,Role-Playing,Idea Factory,0.00,0.00,0.01,0.00,0.01
16366,Hakuouki: Shinsengumi Kitan,PS3,<NA>,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01

In [41]:
data[data['Publicador'].isnull()]

,Nombre,Plataforma,Año,Género,Publicador,Ventas_Norteamérica,Ventas_Europa,Ventas_Japón,Ventas_Otros,Ventas_Globales
470,wwe Smackdown vs. Raw 2006,PS2,<NA>,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
1303,Triple Play 99,PS,<NA>,Sports,NaN,0.81,0.55,0.00,0.10,1.46
1662,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007,Misc,NaN,0.87,0.32,0.00,0.02,1.21
2222,Bentley's Hackpack,GBA,2005,Misc,NaN,0.67,0.25,0.00,0.02,0.93
3159,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3166,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3766,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.38,0.14,0.00,0.01,0.53
4526,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004,Misc,NaN,0.31,0.11,0.00,0.01,0.43
4635,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004,Misc,NaN,0.30,0.11,0.00,0.01,0.42
5302,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,<NA>,Action,NaN,0.15,0.05,0.14,0.01,0.35
5647,Cartoon Network Collection: Game Boy Advance V...,GBA,2005,Misc,NaN,0.23,0.08,0.00,0.01,0.32
6272,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,<NA>,Action,NaN,0.00,0.00,0.27,0.01,0.27
6437,Sonic X: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.19,0.07,0.00,0.00,0.27
6562,Dora the Explorer: Game Boy Advance Video Volu...,GBA,2004,Misc,NaN,0.18,0.07,0.00,0.00,0.26
6648,Cartoon Network Collection: Game Boy Advance V...,GBA,2004,Misc,NaN,0.18,0.07,0.00,0.00,0.25
6849,All Grown Up!: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.17,0.06,0.00,0.00,0.24
7208,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.16,0.06,0.00,0.00,0.22
7351,Yu Yu Hakusho: Dark Tournament,PS2,<NA>,Fighting,NaN,0.10,0.08,0.00,0.03,0.21
7470,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.15,0.05,0.00,0.00,0.21
7953,Thomas the Tank Engine & Friends,GBA,2004,Adventure,NaN,0.13,0.05,0.00,0.00,0.19
8330,Dragon Ball GT: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8341,Codename: Kids Next Door: Game Boy Advance Vid...,GBA,2004,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8368,Teenage Mutant Ninja Turtles: Game Boy Advance...,GBA,2004,Misc,NaN,0.12,0.04,0.00,0.00,0.17
8503,Stronghold 3,PC,2011,Strategy,NaN,0.06,0.10,0.00,0.00,0.16
8770,Cartoon Network Collection: Game Boy Advance V...,GBA,2005,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8848,Pokémon: Johto Photo Finish: Game Boy Advance ...,GBA,2004,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8896,Strawberry Shortcake: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.11,0.04,0.00,0.00,0.15
9517,Farming Simulator 2011,PC,2010,Simulation,NaN,0.00,0.13,0.00,0.00,0.13
9749,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,<NA>,Strategy,NaN,0.00,0.00,0.12,0.00,0.12
10382,Disney Channel Collection Vol. 1,GBA,2004,Misc,NaN,0.08,0.03,0.00,0.00,0.11
10494,Atsumare! Power Pro Kun no DS Koushien,DS,<NA>,Sports,NaN,0.00,0.00,0.10,0.00,0.10
11076,Action Man-Operation Extreme,PS,<NA>,Action,NaN,0.05,0.03,0.00,0.01,0.09
11526,Cartoon Network Collection: Game Boy Advance V...,GBA,2004,Misc,NaN,0.06,0.02,0.00,0.00,0.08
12487,Chou Soujuu Mecha MG,DS,<NA>,Simulation,NaN,0.00,0.00,0.06,0.00,0.06
12517,Prinny: Can I Really Be The Hero? (US sales),PSP,<NA>,Action,NaN,0.06,0.00,0.00,0.00,0.06
13672,B.L.U.E.: Legend of Water,PS,<NA>,Adventure,NaN,0.00,0.00,0.04,0.00,0.04
14087,Housekeeping,DS,<NA>,Action,NaN,0.00,0.00,0.04,0.00,0.04
14296,Bikkuriman Daijiten,DS,<NA>,Misc,NaN,0.00,0.00,0.03,0.00,0.03
14311,Silverlicious,DS,2012,Action,NaN,0.03,0.00,0.00,0.00,0.03
14698,UK Truck Simulator,PC,2010,Simulation,NaN,0.00,0.03,0.00,0.00,0.03
14942,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,<NA>,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15056,Xia-Xia,DS,2012,Platform,NaN,0.00,0.02,0.00,0.00,0.02
15325,Nicktoons Collection: Game Boy Advance Video V...,GBA,2005,Misc,NaN,0.01,0.01,0.00,0.00,0.02
15353,Demolition Company: Gold Edition,PC,2011,Simulation,NaN,0.00,0.02,0.00,0.00,0.02
15788,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15915,Dream Dancer,DS,<NA>,Misc,NaN,0.01,0.00,0.00,0.00,0.02
16191,Homeworld Remastered Collection,PC,<NA>,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16208,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005,Misc,NaN,0.01,0.00,0.00,0.00,0.01
16367,Dance with Devils,PSV,2016,Action,NaN,0.00,0.00,0.01,0.00,0.01
16494,Legends of Oz: Dorothy's Return,3DS,2014,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,Driving Simulator 2011,PC,2011,Racing,NaN,0.00,0.01,0.00,0.00,0.01

In [42]:
data = data.dropna()

In [43]:
data.isnull().sum()

Nombre                 0
Plataforma             0
Año                    0
Género                 0
Publicador             0
Ventas_Norteamérica    0
Ventas_Europa          0
Ventas_Japón           0
Ventas_Otros           0
Ventas_Globales        0
dtype: int64

In [44]:
data.to_csv("../datasets/vgsales_clean.csv", index=False)